# Server Configuration
PORT=3000

# Docker Container Networking Connection (Lab 5)
MONGO_URI=mongodb://mongodb:27017/campusconnect

# Localhost / Atlas Connection URI (Lab 4)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/student_db?retryWrites=true&w=majority
